<h1>Add a New Project</h1>

<form action="/home/admin/projects" method="post">
  <div class="form-group">
    <label for="name">Name of Project</label>
    <input id="title" name="title" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Create</button>
</form>
