<h1>Volunteer Tracker</h1>
<h2>Are you an Admin or a Volunteer?</h2>
<form action="/home/admin" method="get">
  <button type="submit" name="sort" class="btn">Admin</button>
</form>

<form action="/home/volunteer" method="get">
  <button type="submit" name="sort" class="btn">Volunteer</button>
</form>
